.container
  .row
    .col-sm-8.col-sm-offset-2
      %h2 Kontakt
      %b nexus Institut für Kooperationsmanagement und interdisziplinäre Forschung GmbH
      %br
      %br
      Ansprechpartnerin: Sabine Schröder
      %br
      Tel.: 030 -318 054 73
      %br
      E-Mail:
      = mail_to 'forschungsagenda@nexusinstitut.de'
