.container
  .row
    .col-sm-8.col-sm-offset-2
      %h2 Kontakt
      Innovationszentrum für Mobilität und gesellschaftlichen Wandel (InnoZ) GmbH
      %br
      EUREF-Campus 16, 10829 Berlin
      %br
      %br
      %b Bei Fragen erreichen Sie uns per Email:
      %h3
        = mail_to 'forschungsagenda@nexusinstitut.de'
