.container
  .row
    .col-xs-12
      %h1 Kontakt
      %h4 Bei Rückfragen können Sie sich jederzeit an uns wenden:
      %br
      FONA-Veranstaltungsteam
      %br
      VDI Technologiezentrum GmbH
      %br
      Innovationsbegleitung und Innovationsberatung
      %br
      Tel: +49 (0)211 / 6214 527
      %br
      E-Mail: sdg(at)fona.de
