.container
  .row
    .col-sm-8.col-sm-offset-2
      %h2 Redaktion, Konzeption, Realisierung und Hosting
      Innovationszentrum f체r Mobilit채t und gesellschaftlichen Wandel (InnoZ) GmbH
      %br
      EUREF-Campus 16, 10829 Berlin
      %br
      +49(0)30 23 88 84-0 |
      = mail_to 'info@innoz.de'
      %br
      %br
      Gerichtsstand: AG Berlin Charlottenburg
      %br
      Handelsregister-Nr.: HRB 102507 B
      %br
      Steuernummer: 29/001/61343
      %br
      USt-IdNr.: DE248939551
      %br
      %br
      %b Haftungshinweis:
      %br
      Das InnoZ 체bernimmt keine Verantwortung f체r die Funktion extern verlinkter Seiten sowie deren Inhalt.
