.container
  .row
    .col-xs-12
      = render 'layouts/flash'
      %h1
        Agendakonferenz
      %h3
        Forschung und Innovation für eine  nachhaltige urbane Mobilität
      %p
        22./23.06.2017, Telekom Hauptstadtrepräsentanz, Französische Straße 33
      %br
      %p
        Mobilität und urbaner Verkehr befinden sich derzeit in einem hochgradig dynamischen Wandel. In den Städten sind sowohl im Personen- als auch im Güterverkehr eine Vielzahl neuer Mobilitätsdienstleistungen und Verkehrsangebote im Einsatz. Gleichzeitig ändern sich Mobilitätsmuster und Rahmenbedingungen der Mobilität. Hieraus entstehen vielfältige neue Herausforderungen für die Forschung. Das Bundesministerium für Bildung und Forschung (BMBF) führt daher im Jahr 2017 einen Agendaprozess Nachhaltige urbane Mobilität durch.
        Im Rahmen der Agendakonferenz möchte das BMBF gemeinsam mit Expertinnen und Experten aus Wissenschaft, Wirtschaft, Politik und Zivilgesellschaft Forschungs- und Umsetzungsbedarfe für eine nachhaltige Entwicklung von Mobilität in Städten diskutieren und so den bereits begonnenen Dialogprozess mit einem breiten Publikum weiterführen, um gemeinsam Wege zu für eine nachhaltige urbane Mobilität zu gestalten.
        %br
        %br
        Die Veranstaltung ist kostenfrei. Eine Anmeldung ist erforderlich.
      %br
      = link_to 'zur Anmeldung', new_participant_path, class: 'btn btn-success'
