.container
  .row
    .col-xs-12
      = render 'layouts/flash'
      %h3
        Agendakonferenz
      %h1
        Wege zur Mobilitätswende
      %h3
        Forschung und Innovation für eine  nachhaltige urbane Mobilität
        %br
        %br
        .label.label-danger Ausgebucht!
      %br
        %p
          Vielen Dank für Ihr Interesse an der Agendakonferenz. Die Veranstaltung ist ausgebucht.
      %br
      %p
        22./23.06.2017, Telekom Hauptstadtrepräsentanz, Französische Straße 33, 10117 Berlin
      %br
      %b Die Veranstaltung ist kostenfrei. Eine Anmeldung ist erforderlich.
      %br
      %br
      -# = link_to 'zur Anmeldung', new_participant_path, class: 'btn btn-lg btn-success'
