- if @participant.sex == 'Frau'
  Sehr geehrte Frau #{@participant.last_name},
- else
  Sehr geehrter Herr #{@participant.last_name},
\
vielen Dank für Ihre Anmeldung an der Veranstaltung. Hier könnten Ihre Teilnahmen aufgelistet sein ;)
